<!DOCTYPE html>
<html>
  <head>
    <title>Escala</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render(::Layout::Header::Component.new) %>
    <%= render(::Body::SectionRegistro::Component.new) %>
    <%= render(::Body::SectionInfo::Component.new) %>
    <%= render(::Body::SectionProbar::Component.new) %>   
    <%= render(::Body::SectionVentajas::Component.new) %>
    <%= render(::Body::SectionPreguntas::Component.new) %>
    <%= yield %>
    <%= render(::Layout::Footer::Component.new) %>
  </body>
</html>
